In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("D:/Internship/Verzeo/Minor Project/heart.csv")

In [3]:
df.shape

(303, 14)

In [4]:
y=df["target"]

In [5]:
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [6]:
df.drop("target",axis="columns")

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [7]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [8]:
x=df.drop("target",axis="columns")

In [9]:
from keras.utils import to_categorical

Using TensorFlow backend.

In [10]:
y=to_categorical(y)

In [11]:
type(y)

numpy.ndarray

In [12]:
y.shape

(303, 2)

# Specify the architecture

In [13]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [14]:
model=Sequential()
model.add(Dense(128,activation="relu",input_shape=(13,)))
model.add(Dense(64,activation="relu"))
model.add(Dense(2,activation="softmax"))

# Compile the model

In [15]:
model.compile(optimizer="adam",loss="categorical_crossentropy",metrics=["accuracy"])

# Fit the model

In [16]:
model.fit(x,y,epochs=10)

Epoch 1/10
303/303 [==============================] - 0s 662us/step - loss: 9.4918 - accuracy: 0.5050
Epoch 2/10
303/303 [==============================] - 0s 49us/step - loss: 1.9556 - accuracy: 0.5479
Epoch 3/10
303/303 [==============================] - 0s 53us/step - loss: 1.1668 - accuracy: 0.6073
Epoch 4/10
303/303 [==============================] - 0s 49us/step - loss: 0.9788 - accuracy: 0.6106
Epoch 5/10
303/303 [==============================] - 0s 53us/step - loss: 0.8114 - accuracy: 0.6337
Epoch 6/10
303/303 [==============================] - 0s 56us/step - loss: 0.6612 - accuracy: 0.6898
Epoch 7/10
303/303 [==============================] - 0s 53us/step - loss: 0.6558 - accuracy: 0.6931
Epoch 8/10
303/303 [==============================] - 0s 49us/step - loss: 0.7907 - accuracy: 0.6304
Epoch 9/10
303/303 [==============================] - 0s 49us/step - loss: 0.7361 - accuracy: 0.6667
Epoch 10/10
303/303 [==============================] - 0s 49us/step - loss: 0.5727 - accuracy: 0.7327

# Predict the model

In [17]:
x

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [18]:
data=pd.DataFrame({"age":[19],"sex":[1],"cp":[1],"trestbp":[120],"chol":[170],"fbs":[0],"restecg":[0],"thalach":[130],"exang":[0],"oldpeak":[1.0],"slope":[1],"ca":[1],"thal":[1]})

In [19]:
data.shape

(1, 13)

In [20]:
x.shape

(303, 13)

In [21]:
model.predict(data)

array([[0.07285182, 0.9271482 ]], dtype=float32)

In [22]:
cd

C:\Users\Sai Krishna M